@media (max-width: 992px) {
  .first {
    flex-direction: column;
  }
  .second {
    flex-direction: column;
    align-items: center;
  }
  .contain {
    display: none !important;
  }
  .tab {
    display: none !important;
  }
  .small{
    display: block !important;
  }
}

.svg {
  width: 700px;
}
