<section class="w-75 mx-auto p-3 my-2">
  <div class="row align-items-center">
    <div class="col-md-4">
      <div>
        <owl-carousel-o [options]="mainSlider">
          <ng-container *ngFor="let item of productDetails.images">
            <ng-template carouselSlide>
              <img [src]="item" class="w-100" />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-md-8">
      <div class="text-center">
        <h3 class="h5 fw-bold">{{ productDetails.title }}</h3>
        <p class="text-muted">{{ productDetails.description }}</p>
        <p class="text-muted fw-bold">
          Product sold :
          <span class="fw-bold text-black">
            {{ productDetails.sold }} times</span
          >
        </p>
        <p class="text-muted fw-bold">
          The rest of the product :
          <span class="fw-bold text-black"> {{ productDetails.quantity }}</span>
        </p>
        <p class="text-muted fw-bold">
          People Who Rating :
          <span class="fw-bold text-black">
            {{ productDetails.ratingsQuantity }}</span
          >
        </p>

        <ul class="d-flex justify-content-between align-items-center p-0 py-4">
          <li class="text-main fw-bold">{{ productDetails.price }} EGP</li>
          <li>
            <span>
              <ng-container
                *ngFor="
                  let _ of generateRatingArray(productDetails.ratingsAverage)
                "
              >
                <i
                  class="fa-solid fa-star repeat_here"
                  style="color: #ffd43b"
                ></i>
              </ng-container>
              <span class=""> {{ productDetails.ratingsAverage }} </span>
            </span>
          </li>
        </ul>
        <div class="d-flex justify-content-between">
          <button class="btn-main w-75" (click)="addCart(productDetails._id)">
            Add Product
          </button>
          <i
            class="fa-solid fa-heart fa-2x"
            [style.color]="
              wishlistData.includes(productDetails._id) ? 'red' : 'black'
            "
            (click)="addOrRemove(productDetails._id)"
          ></i>
        </div>
      </div>
    </div>
  </div>
</section>
