<section class="bg-main-light min-vh-100 container p-5">
  <div class="row bg-white contain p-5">
    <div class="col-md-3">
      <div>
        <img [src]="photo" class="photo" />
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="fw-bold">{{ userName }}</h2>
      <p class="fw-bold pt-4">
        Email : <span class="text-main"> {{ userEmail }} </span>
      </p>
      <p class="fw-bold pt-4">
        Phone : <span class="text-main"> {{ userPhone }} </span>
      </p>
      <p class="fw-bold pt-4">
        Age : <span class="text-main"> {{ userAge }} </span>
      </p>
      <div class="pt-4 d-flex">
        <div><p class="fw-bold pe-2">Address :</p></div>
        <div>
          <div
            class="d-flex justify-content-between w-100"
            *ngFor="let address of userAdress"
          >
            <p class="text-main fw-bold">{{ address.details }}</p>
            <p
              class="text-danger fw-bold px-4"
              role="button"
              (click)="removeAddress(address._id)"
            >
              Remove
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 pt-5">
    <!--* name - email - number -->
    <div class="col-md-12">
      <div class="bg-white contain p-4">
        <div class="d-flex justify-content-between">
          <h4 class="fw-bold text-main">Name</h4>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="updateInfo()">
          <label for="name">Name : </label>
          <input
            formControlName="name"
            type="text"
            class="form-control my-2"
            id="name"
            [value]="userName"
            [placeholder]="userName"
          />
          <!-- * validation -->
          <div
            class="text-danger"
            *ngIf="
              (registerForm.get('name')?.touched ||
                registerForm.get('name')?.value != '') &&
              registerForm.get('name')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="registerForm.get('name')?.getError('minlength')"
            >
              Min length is 3
            </p>
            <p
              class="opacity-75"
              *ngIf="registerForm.get('name')?.getError('maxlength')"
            >
              Max length is 20
            </p>
          </div>
          <label for="Email">Email : </label>
          <input
            formControlName="email"
            type="email"
            class="form-control my-2"
            id="Email"
            [value]="userEmail"
            [placeholder]="userEmail"
          />
          <!--* validation  -->
          <div
            class="text-danger"
            *ngIf="
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.value != '') &&
              registerForm.get('email')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="registerForm.get('email')?.getError('email')"
            >
              Examble : xxx@gmail.com
            </p>
          </div>
          <label for="Phone">Phone : </label>
          <input
            formControlName="phone"
            type="tel"
            class="form-control my-2"
            id="Phone"
            placeholder="Your Number"
          />
          <!-- * validtaion -->
          <div
            class="text-danger"
            *ngIf="
              (registerForm.get('phone')?.touched ||
                registerForm.get('phone')?.value != '') &&
              registerForm.get('phone')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="registerForm.get('phone')?.getError('pattern')"
            >
              Invaild Number
            </p>
          </div>
          <div class="text-center" *ngIf="errMsg">
            <p class="text-danger fw-bold">{{ errMsg }}</p>
          </div>
          <div class="text-center" *ngIf="updatInfo">
            <p class="text-success fw-bold">{{ updatInfo }}</p>
          </div>
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Update
          </button>
        </form>
      </div>
    </div>

    <!--* age  -->

    <div class="col-md-4">
      <div class="bg-white contain p-4">
        <div class="d-flex justify-content-between">
          <h4 class="fw-bold text-main">Age</h4>
        </div>
        <div>
          <label for="age">Age : </label>
          <input
            type="number"
            class="form-control my-2"
            id="age"
            placeholder="Your Age"
            [(ngModel)]="age"
            (input)="updateButtonState($event)"
          />
          <button
            class="btn btn-success"
            [disabled]="isInputEmpty"
            (click)="getAge($event)"
          >
            Update
          </button>
        </div>
      </div>
    </div>

    <!--* adress  -->
    <div class="col-md-8">
      <div class="bg-white contain p-4">
        <div class="d-flex justify-content-between">
          <h4 class="fw-bold text-main">Adress</h4>
        </div>
        <form [formGroup]="address" (ngSubmit)="addAddress()">
          <label for="adress">Adress : </label>
          <input
            formControlName="details"
            type="text"
            class="form-control my-2"
            id="adress"
            placeholder="Enter Your Address"
          />
          <div
            class="text-danger"
            *ngIf="
              (address.get('details')?.touched ||
                address.get('details')?.value != '') &&
              address.get('details')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="address.get('details')?.getError('minlength')"
            >
              Min length is 10
            </p>
            <p
              class="opacity-75"
              *ngIf="address.get('details')?.getError('maxlength')"
            >
              Max length is 40
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="address.invalid"
            >
              Add+
            </button>
          </div>
          <div class="text-center">
            <p class="fw-bold text-success">
              {{ addMsg }}
            </p>
          </div>
          <div class="text-center"><p class="fw-bold text-success"></p></div>
        </form>
      </div>
    </div>

    <!--* Password  -->
    <div class="col-md-12">
      <div class="bg-white contain p-4">
        <div class="d-flex justify-content-between">
          <h4 class="fw-bold text-main">Password</h4>
        </div>
        <form [formGroup]="resetPassword" (ngSubmit)="resetPass()">
          <label for="oldPass">Password : </label>
          <input
            type="password"
            class="form-control my-2"
            id="oldPass"
            placeholder="Current Password"
            formControlName="currentPassword"
          />
          <!-- * validation -->
          <div
            class="text-danger"
            *ngIf="
              (resetPassword.get('currentPassword')?.touched ||
                resetPassword.get('currentPassword')?.value != '') &&
              resetPassword.get('currentPassword')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="resetPassword.get('currentPassword')?.getError('pattern')"
            >
              Password must be atleast 6 chars
            </p>
          </div>
          <label for="newPass">NewPassword : </label>
          <input
            type="password"
            class="form-control my-2"
            id="newPass"
            placeholder="New Password"
            formControlName="password"
          />
          <!-- * validation -->
          <div
            class="text-danger"
            *ngIf="
              (resetPassword.get('password')?.touched ||
                resetPassword.get('password')?.value != '') &&
              resetPassword.get('password')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="resetPassword.get('password')?.getError('pattern')"
            >
              Password must be atleast 6 chars and no special chars
            </p>
          </div>
          <label for="confirmPass">Confirm New Password : </label>
          <input
            type="password"
            class="form-control my-2"
            id="confirmPass"
            formControlName="rePassword"
            placeholder="Re New Password"
          />
          <!-- * validation -->
          <div
            class="text-danger"
            *ngIf="
              (resetPassword.get('rePassword')?.touched ||
                resetPassword.get('rePassword')?.value != '') &&
              resetPassword.get('rePassword')?.errors
            "
          >
            <p
              class="opacity-75"
              *ngIf="resetPassword.get('rePassword')?.getError('missMatch')"
            >
              RePassword must be match Password
            </p>
          </div>
          <button class="btn btn-success">Update</button>
          <div class="text-center">
            <p class="text-success fw-bold" *ngIf="passMsg">
              {{ passMsg }}
            </p>
            <p class="text-danger fw-bold" *ngIf="passMsgd">
              {{ passMsgd }}
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
