<section>
  <div class="row g-0" id="main-slider">
    <div class="col-md-10 offset-md-1">
      <owl-carousel-o [options]="mainSlider">
        <ng-template carouselSlide>
          <img src="./assets/images/1.jpg" class="w-100" />
          <div class="img1">
            <h2>Women Fashoin</h2>
          </div></ng-template
        >
        <ng-template carouselSlide>
          <img src="./assets/images/2.jpeg" class="w-100" />
          <div class="img2">
            <h2>Men Fashoin</h2>
          </div></ng-template
        >
        <ng-template carouselSlide>
          <img src="./assets/images/3.jpeg" class="w-100" />
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/images/4.jpeg" class="w-100" />
         </ng-template
        >
        <ng-template carouselSlide>
          <img src="./assets/images/5.jpeg" class="w-100" />
          <div class="img5">
            <h2>Electronic</h2>
          </div></ng-template
        >
      </owl-carousel-o>
    </div>
  </div>
</section>
